[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EMCluster"]
	path = EMCluster
	url = https://github.com/snoweye/emcluster
[submodule "MixSim"]
	path = MixSim
	url = https://github.com/snoweye/mixsim
[submodule "MixfMRI"]
	path = MixfMRI
	url = https://github.com/snoweye/mixfmri
[submodule "QZ"]
	path = QZ
	url = https://github.com/snoweye/qz
[submodule "cubfits"]
	path = cubfits
	url = https://github.com/snoweye/cubfits
[submodule "pbdMPI"]
	path = pbdMPI
	url = https://github.com/snoweye/pbdmpi
[submodule "pbdSLAP"]
	path = pbdSLAP
	url = https://github.com/snoweye/pbdslap
[submodule "pbdZMQ"]
	path = pbdZMQ
	url = https://github.com/snoweye/pbdzmq
[submodule "phyclust"]
	path = phyclust
	url = https://github.com/snoweye/phyclust
[submodule "pmclust"]
	path = pmclust
	url = https://github.com/snoweye/pmclust
